const float BATTERY_ALERT_THRESHOLD = 3.1;// V
const float BATTERY_ALERT_REARM = 3.3;    // V

const uint8_t DEFAULT_MAX_DIFFERENCE = 10;// %

const uint64_t DEFAULT_SLEEP_TIME = 5e6;  // us

const int CLOSEST = 200;                  // mm
const int FARTHEST = 8000;                // mm
const int SPEED_OF_SOUND = 330;           // m

// Network credentials
const char* WLAN_SSID = "Your Wifi SSID";
const char* WLAN_PASSWD = "Your password";

// Static IP to save power on DHCP dialog
IPAddress staticIP(192,168,0,123);
IPAddress gateway(192,168,0,1);
IPAddress subnet(255,255,255,0);

// MQTT broker IP Address
const char* MQTT_SERVER = "192.168.0.124";
const String ROOT_TOPIC = "water";
